<%= link_to 'New', new_number_path, :class => "btn" %>
<br><br>

<table class="table table-striped">
  <% @numbers.each do |number| %>
    <tr>
      <td><%= number.name %></td>
      <td><%= number.number %></td>
      <td><%= link_to "Edit", edit_number_path(number) %></td>
    </tr>
  <% end %>
</table>
