<table class="table table-striped">
  <% @items.each do |item| %>
    <tr>
      <td><%= item.type.name %></td>
      <td><%= link_to item.value, script_item_path(@script, item) %></td>
      <td><%= link_to 'Edit', edit_script_item_path(@script, item) %></td>
      <td><%= link_to 'Destroy', script_item_path(@script, item), confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>
